
@{
    ViewBag.Title = "שליחת הודעות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section mainContent{
    <form action="/Admin/SaveMessage" method="post">
        <div id="ckContainer">
            <label for="" class="">נושא ההודעה:</label>  
            <br>
            <input type="text" name="subject" value="" />
            <br>
            <select name="ToUser" class="">
                <option value="student@gmail.com">student student</option>
            </select>
            <textarea id="ckAdmin" name="Content"></textarea>
        </div>
        <input type="submit" name="submit" value="submit" />
</form>
}

